name: Lu.ma Bot

on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * *'

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install packages
        run: npm install

      - name: Install Playwright browsers
        run: npx playwright install

      - name: Run script
        run: node index.js
        env:
          LUMA_EMAIL: ${{ secrets.LUMA_EMAIL }}
          LUMA_PASSWORD: ${{ secrets.LUMA_PASSWORD }}
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_SERVICE_KEY: ${{ secrets.SUPABASE_SERVICE_KEY }}
